ul{
    list-style-type: circle;

}
.lista2{
    list-style-type: armenian;
}
ol li{
   

}
ol {
   
   border-left: 5px solid rgb(225, 0, 255);
   background-color: beige;
   list-style-type: none;
   padding: 15px 25px;
   font-size: 10px;
}
div{
    overflow: scroll;
    background-color: burlywood;
    width: 300px;
    height: 200px;
    
}
